

/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: black;
    height: 100vh;
}

h2.tituloh2{
    color: rgb(255, 255, 255);
    font-size: 38px;
    text-align: center;
}

h2.tituloh2 span{
    color: blueviolet;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}


.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(178, 96, 255);
    transform: scale(1.05);
}


/* ESTILO DO MENU */

header{
    padding: 40px 4%;
}

header >.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-direction: column;
    line-height: 10px;
}

.logo h1{
    padding: 9px;
    font-weight: 200;
    font-family: "Poppins", serif;
    color: blueviolet;
}

header a{
    color: rgb(80, 82, 85);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: rgb(205, 176, 231);
    transform: scale(1.05);
    transition: 0.3s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



/* ESTILO TOPO SITE */

section.topo-do-site{
    padding: 40px 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: aliceblue;
    font-size: 42px;
}


.topo-do-site .txt-top-site h1 span{
    color: blueviolet;
}
.topo-do-site .txt-top-site p{
    color: aliceblue;
    margin: 40px 0;
}


/* Função keyframes para fazer a imagem flutuar em loop infinito de cima para baixo/ baixo cima */
.topo-do-site .imag-top-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{top: 0;}
    100% {top: -30px;}
} 
/* fim Função keyframes */

/* ESTILO DAS ESPECIALIDADES SITE */

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    /* border:solid #b38bd83d; */
    margin-top: 50px;
    transition: 0.3s;
} 
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px #892be2;
} 

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #8a2be2;
}

.especialidades .especialidades-box h3{
    font-size: 30px;
    margin: 15px 0px;
}



/* ESTILO DO SOBRE */
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #FFF;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 32px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #892be2;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

/* Botões */
.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    font-size:26px;
    background-color: #892be2;
    transition: 0.3s;
    cursor: pointer;
    margin: 0 5px;
}